[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group test-pki-approvers
	owner = group user/Ade Lee (vakwetu)
[access "refs/for/refs/*"]
	read = group test-pki-approvers
	read = group user/Ade Lee (vakwetu)
	push = group test-pki-approvers
	push = group user/Ade Lee (vakwetu)
	label-Code-Review = -2..+2 group test-pki-approvers
	label-Code-Review = -2..+2 group user/Ade Lee (vakwetu)
	label-Verified = -1..+1 group test-pki-approvers
	label-Verified = -1..+1 group user/Ade Lee (vakwetu)
	rebase = group test-pki-approvers
	rebase = group user/Ade Lee (vakwetu)
	removeReviewer = group test-pki-approvers
	removeReviewer = group user/Ade Lee (vakwetu)
	submit = group test-pki-approvers
	submit = group user/Ade Lee (vakwetu)
[access "refs/heads/*"]
	read = group test-pki-approvers
	read = group user/Ade Lee (vakwetu)
	create = group test-pki-approvers
	create = group user/Ade Lee (vakwetu)
	push = group test-pki-approvers
	push = +force group user/Ade Lee (vakwetu)
	pushMerge = group test-pki-approvers
	pushMerge = group user/Ade Lee (vakwetu)
[access "refs/tags/*"]
	push = group test-pki-approvers
	push = group user/Ade Lee (vakwetu)
	push = +force group user/Ade Lee (vakwetu)
