[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vakwetu
[access "refs/for/refs/*"]
	read = group user/vakwetu
	push = group user/vakwetu
	label-Code-Review = -2..+2 group user/vakwetu
	label-Verified = -1..+1 group user/vakwetu
	rebase = group user/vakwetu
	removeReviewer = group user/vakwetu
	submit = group user/vakwetu
[access "refs/heads/*"]
	read = group user/vakwetu
	create = group user/vakwetu
	push = +force group user/vakwetu
	pushMerge = group user/vakwetu
[access "refs/tags/*"]
	push = group user/vakwetu
	push = +force group user/vakwetu
